<head>
    <link rel='stylesheet' type="text/css" href='/css/page.css' />

    <title>Jacob Ortiz-Rodriguez</title>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- bootstrap css -->
    <link rel="stylesheet" href="/includes/bootstrap.min.css">

    <!-- favicon -->
    <link rel="icon" href="/favicon.ico">


    <!-- custom spacing and fonts -->
    <link rel="stylesheet" href="/css/spacing.css" type="text/css">
    <link rel="stylesheet" href="/css/fonts.css" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">

    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script src="/includes/jquery.min.js"></script>
    <script src="/includes/popper.min.js"></script>
    <script src="/includes/bootstrap.min.js"></script>
</head>