<nav class="navbar navbar-expand-lg fixed-top toggle-height" id="global-nav">
    <div class="container">  
      <a class="navbar-brand nav-scroll" href="/"><%= name %></a>
      <button class="custom-toggler navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="custom-toggler navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="me-auto nav-ul">
            <li><a class='nav-link nav-scroll text-start' href="/software">Software</a></li>
        </ul>
        <ul class="nav-ul">
            <li><a class='nav-link nav-scroll' href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
</nav>
<script type="text/javascript" src="/scripts/nav.js"></script>