<!DOCTYPE html>
<html lang="en">
    <% include partials/head %>
    <body>
        <% include partials/nav %>
        <link rel="stylesheet" href="/css/contact.css">
        <div class="main-div">
            <div class="main-center">
                <div class="container">
                    <h3 class="regular-title">
                        Email me!
                    </h3>
                    <div class="row form-div" style="justify-content: center;">
                        <div class="col-lg-8 col-lg-offset-2">
                            <form id="contact-form" method="post">
                                <div class="messages"></div>
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-md">
                                            <div class="form-group">
                                                <label for="form_name">Firstname *</label>
                                                <input id="form_name" type="text" name="name" class="form-control" required="required" data-error="First Name is required.">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="row">
                                        <div class="col-md">
                                            <div class="form-group">
                                                <label for="form_email">Email *</label>
                                                <input id="form_email" type="email" name="email" class="form-control" required="required" data-error="Valid email is required.">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="form_message">Message *</label>
                                                <textarea id="form_message" name="message" class="form-control" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="submit" class="btn btn-secondary btn-send" value="Send message">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class='text-<%= status %>' style="margin-top: 1em;"><%= message %></p>
                                        </div>
                                    </div>  
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <h5 class="email padY60">
                        jacob@jacobortiz.io
                    </h5>    
                </div>


            </div>
        </div>
        <% include partials/footer %> 
        <script src="/scripts/contact.js"></script>
        <script src='/includes/jquery.min.js'></script>
        <!-- odometer -->
        <link rel="stylesheet" href="/includes/odometer-theme-default.css">
        <script src="/includes/odometer.js"></script>
    </body>
</html>