<!DOCTYPE html>
<html>
  <% include partials/head  %> 
  <body>
    <% include partials/nav %>
    <div class="home-img">
      <div class="home-div center">
        <h1 class="title-main"><%= name %> </h1>
        <h3> aspiring software engineer and recent gradutate </h3>
      </div>
      <div class="home-south">
        <h4><a class="stealth-link subPmin pad-X-0" href="#">Read More</a></h4>
        <button class="smooth-scroll-btn" type="button">
          <img src="/images/Down-Arrow-White.png" width="30"/>
        </button>
      </div>
    </div>

    <div class="container-fluid about-me">
      <div class="container about-me">
        <div class="row row-pad">
          <div class="col-md-4">
            <img src="/images/avatar.png" class="circle-img"/>
          </div>
          <div class="col-md-8">
            <p class="pad20">
              Hi! Welcome to my website. I am a recent computer science graduate
              at California State Univeristy, Monterey Bay.
              Currently building this website and adding more details!
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid software-img">
      <div class="container software-div">
        <h1 class="left-title sub-title white" style="padding-top: 0px;">Software/Projects</h1>
        <div class="row">
          <div class="col-md-6 tile-pad-wide soft-tile-back col-1-pad">
            <h3 class="white reg-title cen-X">C</h3>
          </div>
        </div>
      </div>
    </div>


    <% include partials/footer %> 
    <script src='/includes/jquery.min.js'></script>
  </body>
</html>
