<!DOCTYPE html>
<html>
  <% include partials/head  %> 
  <body>
    <% include partials/nav %>
    <div class="home-img">
      <div class="home-div center">
        <h1 class="main-title"><%= name %></h1>
        <h3> aspiring software engineer and recent gradutate </h3>
      </div>
      <div class="home-south">
        <h4><a class="stealth-link sub-p-min pad-X0" href="#">Read More</a></h4>
        <button class="smooth-scroll-btn" type="button">
          <img src="/images/Down-Arrow-White.png" width="30"/>
        </button>
      </div>
    </div>

    <div class="container-fluid about-me">
      <div class="container about-me">
        <div class="row row-pad">
          <div class="col-md-4">
            <img src="/images/duck.jpeg" class="circle-img"/>
          </div>
          <div class="col-md-8">
            <p class="pad-20">
              Hi! Welcome to my website. I am a recent computer science graduate
              at California State Univeristy, Monterey Bay.
              Currently working on this website and adding more details!
              <br><- Picure will be updated...
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid software-bg">
      <div class="container software-div">
        <h1 class="left-title sub-title white" style="padding-top: 0px;">Software/Experience</h1>
        <div class="row">
          <div class="col-md-6 tile-pad-wide soft-tile-back col-1-pad">
            <h3 class="white regular-title center-text">Web</h3>
            <h5 class="title-description sub-p-min white">Experience with HTML, CSS, and JavaScript. Used those tools and Bootsrap to create this website.</h5>
          </div>

          <div class="col-md-6 tile-pad-wide soft-tile-back col-2-pad">
            <h3 class="white regular-title center-text">C++/Java</h3>
            <h5 class="title-description sub-p-min white">Proficient in object-orient design of
              data structures and algorithm.
            </h5>
          </div>
        </div>

        <div class="row extraSpace">
          <div class="col-md-6 tile-pad-wide soft-tile-back col-2-pad">
            <h3 class="white regular-title center-text">C</h3>
            <h5 class="title-description sub-p-min white">
              1 year learning and developing efficient low-level programs.
            </h5>
          </div>

          <!-- another skill -->
          <div class="col-md-6 tile-pad-wide softTileBack col-1-pad">
            <h3 class="white regular-title center-text">Python/ML</h3>
            <h5 class="titleDesc sub-p-min white">1 year developing and creating notebooks exploring data
              science skills and machine learning methods.
            </h5>
          </div>
          <a href="/softare" class="btn btn-outline-secondary btn-lg center-btn" role="button">Explore more</a>
        </div>
      </div>
    </div>

    <div class="container-fluid resume">
      <div class="container padY60 pad-X0">
        <h2 class="left-tile sub-title padding-top">
          Resume
        </h2>

        <!-- resume here-->
        
      </div>
    </div>

    <% include partials/footer %> 
    <script src='/includes/jquery.min.js'></script>
    <!-- odometer -->
    <link rel="stylesheet" href="/includes/odometer-theme-default.css">
    <script src="/includes/odometer.js"></script>
    <script type="text/javascript" src="/scripts/main.js"></script>
  </body>
</html>
