<!DOCTYPE html>
<html lang="en">
    <% include partials/head %>
    <body>
        <% include partials/nav %>
        <link rel="stylesheet" href="/css/software.css">
        <div class="main-div">
            <div class="main-center">
                <div class="container">
                    <h3 class="regular-title text-center">
                        Softare/Projects
                    </h3>
                </div>
            </div>
        </div>
        <% include partials/footer %> 

    </body>
</html>