<!DOCTYPE html>
<html lang="en">
    <% include partials/head %>
    <body>
        <% include partials/nav %>
        <link rel="stylesheet" href="/css/software.css">
        <div class="main-center">
                <div class="container">
                    <h3 class="regular-title text-center">
                        Software/Projects
                    </h3>
                </div>
        </div>

        <div class="container-fluid software-bg marg-top3">
                <div class="container software-div">
                  <div class="row">
                    <div class="col-md-6 tile-pad-wide soft-tile-back col-1-pad">
                      <h3 class="white regular-title center-text">A Simple Shell</h3>
                      <h5 class="title-description sub-p-min white">A shell program that can handle simple linux commands and take files as input and can output files as well.</h5>
                      <ul class="center-links">
                        <li class="br-text"><p>|</p></li>
                        <li style="display: inline-block;">
                            <a href="https://github.com/jacobortiz/msh" target="_blank">msh.c</a>
                        </li>
                        <li class="br-text"><p>|</p></li>
                      </ul>

                    </div>
          
                    <div class="col-md-6 tile-pad-wide soft-tile-back col-2-pad">
                      <h3 class="white regular-title center-text">Calculator in C</h3>
                      <h5 class="title-description sub-p-min white">A C program that parses input from user in terminal and evaluates them by converting it to postfix.</h5>
                      <ul class="center-links">
                          <li class="br-text"><p>|</p></li>
                          <li style="display: inline-block;">
                              <a href="https://github.com/jacobortiz/C-Calculator" target="_blank">calculator.c</a>
                          </li>
                          <li class="br-text"><p>|</p></li>
                      </ul>
                    </div>
                  </div>
          
                  <div class="row marg-top1">
                    <div class="col-md-6 tile-pad-wide soft-tile-back col-2-pad">
                      <h3 class="white regular-title center-text">Histogram</h3>
                      <h5 class="title-description sub-p-min white">A Java program that reads input from file and displays character occurences using a HashMap.</h5>
                      <ul class="center-links">
                        <li class="br-text"><p>|</p></li>
                        <li style="display: inline-block;">
                            <a href="https://github.com/jacobortiz/Histogram" target="_blank">Histogram.java</a>
                        </li>
                        <li class="br-text"><p>|</p></li>
                      </ul>
                    </div>
          
                    <div class="col-md-6 tile-pad-wide softTileBack col-1-pad">
                      <h3 class="white regular-title center-text">Otter Airways</h3>
                      <h5 class="titleDesc sub-p-min white">An Android app build on Java, similar to a flight app where users can create, ca</h5>
                    </div>
                </div>


                
            </div>
        </div>



        <div class="container-fluid software-bg marg-top1">
            <div class="container software-div">
              <div class="row">
                <div class="col-md-6 tile-pad-wide soft-tile-back col-1-pad">
                  <h3 class="white regular-title center-text">A Simple Shell</h3>
                  <h5 class="title-description sub-p-min white">A shell program that can handle simple linux commands and take files as input and can output files as well.</h5>
                  <ul class="center-links">
                    <li class="br-text"><p>|</p></li>
                    <li style="display: inline-block;">
                        <a href="https://github.com/jacobortiz/msh" target="_blank">msh.c</a>
                    </li>
                    <li class="br-text"><p>|</p></li>
                  </ul>

                </div>
      
                <div class="col-md-6 tile-pad-wide soft-tile-back col-2-pad">
                  <h3 class="white regular-title center-text">Calculator in C</h3>
                  <h5 class="title-description sub-p-min white">A C program that parses input from user in terminal and evaluates them by converting it to postfix.</h5>
                  <ul class="center-links">
                      <li class="br-text"><p>|</p></li>
                      <li style="display: inline-block;">
                          <a href="https://github.com/jacobortiz/C-Calculator" target="_blank">calculator.c</a>
                      </li>
                      <li class="br-text"><p>|</p></li>
                  </ul>
                </div>
                <a href="https://github.com/jacobortiz" class="btn btn-outline-secondary btn-lg center-btn" role="button">Explore more</a>
              </div>
            
        </div>
    </div>

        
        <% include partials/footer %> 

    </body>
</html>