<!DOCTYPE html>
<html lang="en">
    <% include partials/head %>
    <body>
        <% include partials/nav %>
        <link rel="stylesheet" href="/css/software.css">
        <div class="main-center">
                <div class="container">
                    <h3 class="regular-title text-center">
                        Software/Projects
                    </h3>
                </div>
        </div>

        <div class="container-fluid marg-top1">
          <div class="container">
            <ul class="software-icons">
              <li class="s-icons-in">
                <img src="/images/icons/c.svg" alt="C">
              </li>
              <li class="s-icons-in">
                <img src="/images/icons/node-js.svg" alt="Node-JS">
              </li>
              <li class="s-icons-in">
                <img src="/images/icons/android.svg" alt="Android">
              </li>
              <li class="s-icons-in">
                <img src="/images/icons/jupyter.svg" alt="Jupyter">
              </li>
            </ul>
          </div>
        </div>

        <div class="container-fluid software-bg marg-top3">
                <div class="container software-div">
                  <div class="row">
                    <div class="col-md-6 tile-pad-wide soft-tile-back col-1-pad">
                      <h3 class="white regular-title center-text">A Simple Shell</h3>
                      <h5 class="title-description sub-p-min white">A shell program that can handle simple linux commands and take files as input and can output files as well.</h5>
                      <ul class="center-links">
                        <li class="br-text"><p>|</p></li>
                        <li style="display: inline-block;">
                            <a href="https://github.com/jacobortiz/msh" target="_blank">msh.c</a>
                        </li>
                        <li class="br-text"><p>|</p></li>
                      </ul>

                    </div>
          
                    <div class="col-md-6 tile-pad-wide soft-tile-back col-2-pad">
                      <h3 class="white regular-title center-text">Calculator in C</h3>
                      <h5 class="title-description sub-p-min white">A C program that parses input from user in terminal and evaluates them by converting it to postfix.</h5>
                      <ul class="center-links">
                          <li class="br-text"><p>|</p></li>
                          <li style="display: inline-block;">
                              <a href="https://github.com/jacobortiz/C-Calculator" target="_blank">calculator.c</a>
                          </li>
                          <li class="br-text"><p>|</p></li>
                      </ul>
                    </div>
                  </div>      
            </div>
        </div>

        <div class="container-fluid software-bg marg-top1">
          <div class="container software-div">
            <div class="row marg-top1">
              <div class="col-md-6 tile-pad-wide soft-tile-back col-2-pad">
                <h3 class="white regular-title center-text">Histogram</h3>
                <h5 class="title-description sub-p-min white">A Java program that reads input from file and displays character occurences using a HashMap.</h5>
                <ul class="center-links">
                  <li class="br-text"><p>|</p></li>
                  <li style="display: inline-block;">
                      <a href="https://github.com/jacobortiz/Histogram" target="_blank">Histogram.java</a>
                  </li>
                  <li class="br-text"><p>|</p></li>
                </ul>
              </div>
    
              <div class="col-md-6 tile-pad-wide softTileBack col-1-pad">
                <h3 class="white regular-title center-text">Otter Airways</h3>
                <h5 class="titleDesc sub-p-min white">An Android app build on Java, using Room persistence library (DAO) to store the app's data.</h5>
                <ul class="center-links">
                  <li class="br-text"><p>|</p></li>
                  <li style="display: inline-block;">
                      <a href="https://github.com/jacobortiz/Otter-Airways" target="_blank">Otter-Airways</a>
                  </li>
                  <li class="br-text"><p>|</p></li>
                </ul>
              </div>
          </div>
          </div>
        </div>

        <div class="container-fluid software-bg marg-top1 marg-bot1">
            <div class="container software-div">
              <div class="row">
                <div class="col-md-6 tile-pad-wide soft-tile-back col-1-pad">
                  <h3 class="white regular-title center-text">iOS</h3>
                  <h5 class="title-description sub-p-min white">Developed and build applications using Swift, experienced with integrating API's in application</h5>
                  <ul class="center-links">
                    <li class="br-text"><p>|</p></li>
                    <li style="display: inline-block;">
                        <a href="https://github.com/JonathanCabrera/FoodForever/" target="_blank">Food Forever</a>
                    </li>
                    <li class="br-text"><p>|</p></li>
                  </ul>

                </div>
      
                <div class="col-md-6 tile-pad-wide soft-tile-back col-2-pad">
                  <h3 class="white regular-title center-text">Stock Prediction</h3>
                  <h5 class="title-description sub-p-min white">Using historical data along with news data, a colleague and I tried to predict stock prices using machine learning.</h5>
                  <ul class="center-links">
                      <li class="br-text"><p>|</p></li>
                      <li style="display: inline-block;">
                          <a href="https://github.com/jacobortiz/Machine-Learning/blob/main/stock-ml/stocks.ipynb" target="_blank">View IPYNB</a>
                      </li>
                      <li class="br-text"><p>|</p></li>
                      <li style="display: inline-block;">
                        <a href="https://github.com/jacobortiz/Machine-Learning" target="_blank">View All ML</a>
                      </li>
                      <li class="br-text"><p>|</p></li>
                </ul>
              </div>

              <div class="d-grid gap-2 col-6 mx-auto">
                <a href="https://github.com/jacobortiz" target="_blank" class="btn btn-outline-secondary btn-lg center-btn" role="button">Explore all</a>
              </div>
          </div>
        </div>
      </div>        
    <% include partials/footer %> 
</html>