.extra-space {
    padding-top: 120px;
    padding-bottom: 120px;
}

.padY40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.padY60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.marg-top1 {
    margin-top: 1rem;
}

.marg-top3 {
    margin-top: 3rem;
}

/* .pad-X0 {
    padding-left: 0px;
    padding-right: 0px;
} */

@media (max-width: 991px) {
    .extra-space {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
